.tagName {
  background-color: #ff6060;
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
}

.tagText {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 0 20px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .tagName {
    height: 18px;
    align-items: center;
  }
}
