.profileLogement {
  display: flex;
  margin: 30px auto;
  width: 100%;
}
.profileDetailLogement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profileTitle {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
}
