.logementContainer {
  width: 100%;
}
.informations {
  width: 86%;
  display: flex;
  flex-direction: column;
}
.logeTitle {
  margin: 30px 0 0 0;
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}
.logeLocation {
  margin: 10px 0 0 0;
  color: #ff6060;
  font-size: 18px;
}
.logeTag {
  display: flex;
  flex-direction: row;
  margin: 20px -10px;
}
