.logementContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.carousselBanner {
  width: 100%;
}
.infosContainer {
  width: 86%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.informations {
  margin: 0;
}
.logeTitle {
  margin: 30px 0 0 0;
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}
.logeLocation {
  margin: 10px 0 0 0;
  color: #ff6060;
  font-size: 18px;
}
.logeTag {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.rate {
  display: flex;
  flex-direction: column;
  width: 17%;
  margin: 30px 0 0 6%;
}
.rateDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.rateText {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  width: 20%;
  padding-right: 7%;
  text-align: right;
  margin: 0;
}
.rateImg {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  margin: 0;
}
.starsRating {
  margin: 20px 0;
  width: 250px;
}
.dropLogement {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 86%;
  padding-bottom: 20px;
}
.dropLogement .dropDown {
  width: 45%;
}

@media screen and (max-width: 768px) {
  .infosContainer {
    flex-direction: column;
  }
  .logeTitle {
    font-size: 18px;
    margin-top: 15px;
  }
  .logeLocation {
    font-size: 14px;
  }
  .rateText {
    font-size: 12px;
    line-height: 17px;
  }
  .rateImg {
    height: 32px;
    width: 32px;
  }
  .dropLogement {
    flex-direction: column;
    margin-top: 45px;
    width: 100%;
  }
  .dropLogement .dropDown {
    width: 86%;
  }
}
