.cardLogement {
  max-width: 86%;
  border-radius: 25px;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .cardLogement {
    max-width: 86%;
    background-color: #fff;
    padding: 0;
    margin: auto;
  }
}
